@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: hidden;
}

body {
  /* prevent overscroll bounce*/
  -webkit-overflow-scrolling: touch;
  /* iOS velocity scrolling */
}

:root {
  --color-primary: rgb(0, 128, 0);
  --color-secondary: rgb(48, 48, 48);
  --color-tertiary: rgb(64, 64, 64);
  --color-quaternary: rgb(80, 80, 80);
  --color-dim-white: rgb(208, 208, 208);
}

* {
  scroll-behavior: smooth;
}

/* Reduce margin between columns */
.fc-timegrid-col-events {
  margin: 0px 0px 0px 0px !important;
}

/* Remove white border around events */
.fc-event {
  box-shadow: none !important;
  border-width: 2px;
  border-radius: 8px;
  font-weight: 500;
}

.event-smaller .fc-event {
  border-width: 1.5px;
}

.fc-event:hover {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  background-color: #0000;
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #bbb;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666;
}

input,
select {
  color: white;
  background: none;
  border-bottom: 1px solid white;
}

input:focus {
  outline: none;
}

.courses-nav-button.active {
  border-bottom: solid var(--color-primary);
  color: white;
}

.fc-day-today {
  background-color: inherit !important;
}

.fc-col-header-cell-cushion,
.fc-timegrid-slot-label-cushion {
  color: white;
}

.fc-timegrid-slot {
  border: 1px solid rgba(255, 255, 255, .05) !important;
}

.fc-timegrid-slot-minor {
  border: 1px solid rgba(255, 255, 255, .2) !important;
}

@layer utilities {
  .bg-primary {
    background: var(--color-primary);
  }

  .bg-secondary {
    background: var(--color-secondary);
  }

  .bg-tertiary {
    background: var(--color-tertiary);
  }

  .bg-quaternary {
    background: var(--color-quaternary);
  }

  .border-primary {
    border-color: var(--color-primary);
  }

  .border-secondary {
    border-color: var(--color-secondary);
  }

  .border-tertiary {
    border-color: var(--color-tertiary);
  }

  .border-quaternary {
    border-color: var(--color-quaternary);
  }

  .text-primary {
    color: var(--color-primary);
  }

  .text-secondary {
    color: var(--color-secondary);
  }

  .text-tertiary {
    color: var(--color-tertiary);
  }

  .text-quaternary {
    color: var(--color-quaternary);
  }
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.course-result td {
  padding: 0.5rem;
  border-top: 1px solid var(--color-secondary);
}

.course-result:nth-last-child(2) td:first-child {
  border-bottom-left-radius: 4px;
}

.course-result:nth-last-child(2) td:last-child {
  border-bottom-right-radius: 4px;
}

.course-result th:first-child {
  border-top-left-radius: 4px;
}

.course-result th:last-child {
  border-top-right-radius: 4px;
}

.course-result th:first-child,
.course-result td:first-child {
  border-left: 1px solid var(--color-quaternary);
}

.course-result th:last-child,
.course-result td:last-child {
  border-right: 1px solid var(--color-quaternary);
}

.course-result th {
  border-top: 1px solid var(--color-quaternary);
}

.course-result:nth-last-child(2) td {
  border-bottom: 1px solid var(--color-quaternary);
}

line {
  shape-rendering: crispEdges;
}

fieldset {
  min-width: 0;
}

.hide-scroll {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.hide-scroll::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.event-small .fc-event-title {
  font-size: 75% !important;
  line-height: 110% !important;
}

.event-small .fc-event-time {
  line-height: 110% !important;
  font-size: 65% !important;
}

.event-small .fc-timegrid-slot-label {
  font-size: 70% !important;
}

.event-small col {
  width: 11% !important;
}

.event-smaller .fc-timegrid-slot-label {
  font-size: 60% !important;
}

.event-smaller .fc-event-title {
  font-size: 60% !important;
  line-height: 110% !important;
}

.event-smaller .fc-event-time {
  line-height: 110% !important;
  font-size: 57.5% !important;
}

.event-smaller col {
  width: 9% !important;
}

.event-smaller .fc-event-time {
  letter-spacing: -0.75px;
}

.fc .fc-scrollgrid-section th {
  background-color: unset;
}

.clip-timegrid-start .fc-timegrid-slots tbody tr:first-child {
  display: none;
}

.clip-timegrid-end .fc-timegrid-slots tbody tr:last-child {
  display: none;
}

.MuiInputBase-root::before {
  border-bottom-color: white !important;
}