@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: rgb(0,128,0);
  --color-secondary: rgb(48,48,48);
  --color-tertiary: rgb(64,64,64);
  --color-quaternary: rgb(80,80,80);
  --color-dim-white: rgb(208,208,208);
}

* {
  scroll-behavior: smooth;
}

.search-course-option {
  background: var(--color-tertiary);
  color: white;
  text-align: left;
  border-bottom: 1px solid var(--color-quaternary);
}

.search-course-option:hover {
  background: var(--color-quaternary)
}

/* Reduce margin between columns */
.fc-timegrid-col-events {
  margin: 0px 2px 0px 2px !important;
}

/* Remove white border around events */
.fc-event {
  box-shadow: none !important;
  border-width: 2px;
  border-radius: 8px;
  font-weight: 500;
}

.fc-event:hover {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.drop-down label {
  color: var(--color-dim-white);
  font-size: .75rem;
}

input, select {
  color: white;
  background: none;
  border-bottom: 1px solid white;
}

input:focus {
  outline: none;
}

.drop-down option {
  background: var(--color-secondary);
}

.courses-nav-button {
  color: var(--color-dim-white);
}

.courses-nav-button.active {
  border-bottom: solid var(--color-primary);
  color: white;
}

.fc-day-today {
  background-color: inherit !important;
}

.fc-col-header-cell-cushion, .fc-timegrid-slot-label-cushion {
  color: white;
}

.fc-timegrid-slot{
  border: 1px solid rgba(255, 255, 255, .05) !important;
}
.fc-timegrid-slot-minor{
  border: 1px solid rgba(255, 255, 255, .2) !important;
}

@layer utilities {
  .bg-primary {
    background: var(--color-primary);
  }
  .bg-secondary {
    background: var(--color-secondary);
  }
  .bg-tertiary {
    background: var(--color-tertiary);
  }
  .bg-quaternary {
    background: var(--color-quaternary);
  }

  .border-primary {
    border-color: var(--color-primary);
  }
  .border-secondary {
    border-color: var(--color-secondary);
  }
  .border-tertiary {
    border-color: var(--color-tertiary);
  }
  .border-quaternary {
    border-color: var(--color-quaternary);
  }
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.course-result td {
  padding: 0.5rem;
  border-top: 1px solid var(--color-secondary);
}

.course-result:nth-last-child(2) td:first-child {
  border-bottom-left-radius: 4px;
}
  
.course-result:nth-last-child(2) td:last-child {
  border-bottom-right-radius: 4px;
}

.course-result th:first-child {
  border-top-left-radius: 4px;
}
  
.course-result th:last-child {
  border-top-right-radius: 4px;
}

.course-result th:first-child, 
.course-result td:first-child {
  border-left: 1px solid var(--color-quaternary);
}

.course-result th:last-child, 
.course-result td:last-child {
  border-right: 1px solid var(--color-quaternary);
}

.course-result th {
  border-top: 1px solid var(--color-quaternary);
}

.course-result:nth-last-child(2) td {
  border-bottom: 1px solid var(--color-quaternary);
}

.event-info td {
  border-bottom: 1px solid var(--color-quaternary);
}

.event-info td:last-child {
  text-align: right;
}